.jb-body {
    /*
    background-image: url ("https://www.istockphoto.com/photo/to-do-list-text-on-notepad-gm1285308242-382184795");
    */
    background-color: rgb(239, 193, 113);
}
.bt-body {
    background-color: rgb(23, 95, 228);
    color: white;
}